# Database Configuration
DB_HOST=localhost
DB_NAME=database1
DB_USER=dbUser
DB_PASS=pa$$

# Application Settings
APP_NAME="PHP Template"
APP_ENV=development
APP_DOMAIN=localhost
APP_FOLDER=PHP-Small-Template-Project
